*tar
*tar.gz
*fq.gz
*fastq.gz
*truncated.gz
*discarded.gz
*sam
*bam
*bai
*cram
*bw
*gtf
slurm/
*Rproj
.Rproj.user
.Rhistory
*star_index*
*kallisto_index*
*abundance.tsv
*cache*
*files*
data/5_salmon/salmon_index_drerio98/*
